USE [ShowroomCar]
GO
/****** Object:  Table [dbo].[Car]    Script Date: 4/24/2022 2:49:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Car](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](500) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[Price] [float] NOT NULL,
	[Number] [int] NOT NULL,
	[Solid] [int] NOT NULL,
	[Image] [nvarchar](500) NOT NULL,
	[Trademark] [nvarchar](500) NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_Car] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Orders]    Script Date: 4/24/2022 2:49:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](200) NOT NULL,
	[Note] [nvarchar](50) NULL,
	[UserId] [int] NULL,
	[ScheduleTime] [smalldatetime] NOT NULL,
	[CarID] [int] NOT NULL,
	[Name] [nvarchar](500) NOT NULL,
	[Phone] [nvarchar](500) NOT NULL,
	[Email] [nvarchar](500) NOT NULL,
	[Address] [nvarchar](500) NOT NULL,
	[TotalPrice] [float] NULL,
	[CreateDate] [smalldatetime] NULL,
	[PaymentStatus] [int] NULL,
	[PaymentMethod] [nvarchar](50) NULL,
	[Type] [int] NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[User]    Script Date: 4/24/2022 2:49:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[User](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Fullname] [nvarchar](100) NULL,
	[Username] [nvarchar](100) NOT NULL,
	[Password] [varchar](200) NOT NULL,
	[Email] [varchar](50) NULL,
	[Gender] [varchar](50) NULL,
	[Phone] [nvarchar](50) NULL,
	[Access] [int] NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Car] ON 

SET IDENTITY_INSERT [dbo].[Car] OFF
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([ID], [Code], [Note], [UserId], [ScheduleTime], [CarID], [Name], [Phone], [Email], [Address], [TotalPrice], [CreateDate], [PaymentStatus], [PaymentMethod], [Type], [Status]) VALUES (2, N'43f3f708-1c07-4742-899e-6eb411833578', N'Tôi muốn xem xe sớm hơn dự kiến', 1, CAST(N'2022-12-12 00:00:00' AS SmallDateTime), 1, N'Nguyễn Văn A', N'0975271384', N'vanhA3339@gmail.com', N'Cát Minh - Phù Cát - Bình Định', 1500000000, CAST(N'2022-10-10 00:00:00' AS SmallDateTime), NULL, NULL, 1, 1)
INSERT [dbo].[Orders] ([ID], [Code], [Note], [UserId], [ScheduleTime], [CarID], [Name], [Phone], [Email], [Address], [TotalPrice], [CreateDate], [PaymentStatus], [PaymentMethod], [Type], [Status]) VALUES (3, N'43f3f708-1c07-4742-899e-6eb411833578', N'Tôi muốn xem xe sớm hơn dự kiến', 1, CAST(N'2022-12-12 00:00:00' AS SmallDateTime), 1, N'Nguyễn Văn B', N'0975271384', N'vanhA3339@gmail.com', N'Cát Minh - Phù Cát - Bình Định', 1500000000, CAST(N'2022-10-10 00:00:00' AS SmallDateTime), 1, N'Cash', 3, 1)
INSERT [dbo].[Orders] ([ID], [Code], [Note], [UserId], [ScheduleTime], [CarID], [Name], [Phone], [Email], [Address], [TotalPrice], [CreateDate], [PaymentStatus], [PaymentMethod], [Type], [Status]) VALUES (4, N'43f3f708-1c07-4742-899e-6eb411833578', N'Tôi muốn xem xe sớm hơn dự kiến', 1, CAST(N'2022-12-12 00:00:00' AS SmallDateTime), 1, N'Nguyễn Văn C', N'0975271384', N'vanhA3339@gmail.com', N'Cát Minh - Phù Cát - Bình Định', 1500000000, CAST(N'2022-10-10 00:00:00' AS SmallDateTime), 1, N'Cash', 2, 1)
SET IDENTITY_INSERT [dbo].[Orders] OFF
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([ID], [Fullname], [Username], [Password], [Email], [Gender], [Phone], [Access], [Status]) VALUES (2, N'Admin', N'Admin', N'4QrcOUm6Wau+VuBX8g+IPg==', N'abc@gmail.com', N'Nam', N'0975271384', 0, 1)
SET IDENTITY_INSERT [dbo].[User] OFF
