<div class="col-md-2 bg-white" style="height:700px;">

    <ul class="list-unstyled ul-left-menu">
        <li class="border-bottom py-2 row">
            <div class="input-group px-3">
                <input type="text" class="form-control" placeholder="Search...">
                <div class="input-group-append">
                    <button class="btn bg-white border" type="button" id="button-addon2"><i class="fas fa-search"></i></button>
                </div>
            </div>
        </li>
        <li id="contact" class="py-2 border-bottom row "><a class="pl-3 " href="~/Admin/car"><i class="fad fa-car"></i> Car</a></li>
        <li id="contact" class="py-2 border-bottom row "><a class="pl-3 " href="~/Admin/schedule"><i class="fad fa-shipping-timed"></i> Schedule</a></li>
        <li id="post" class="py-2 border-bottom row "><a class="pl-3 " href="~/Admin/OrderServiceCar"><i class="fas fa-shopping-basket"></i> Order Service Car</a></li>
        <li id="post" class="py-2 border-bottom row "><a class="pl-3 " href="~/Admin/Order"><i class="fas fa-shopping-basket"></i> Order</a></li>
        <li id="user" class="py-2 border-bottom row "><a class="pl-3 " href="~/Admin/User"><i class="fas fa-user"></i> User</a></li>
    </ul>
</div>
<style>
    .ul-left-menu > li > a {
        color: #2E2E2E;
    }
</style>

